@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: whitesmoke;
    background-color: #0f0f0f;
}

.navbar {
    @apply z-10 md:w-[100px] max-md:absolute top-[-120px] left-0 right-0 transition-transform duration-500;
    background-color: #0f0f0f;
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

.box {
    @apply p-5 rounded-2xl;
}

.btn {
    @apply bg-fade hover:bg-white/90 hover:text-container transition-colors duration-300 rounded-xl text-lg font-semibold px-5 py-2 cursor-pointer;
}
